* {
    color: #C96868;
    color: #FADFA1;
    color: #7EACB5;
    color: #605678;

    font-family: 'Gill Sans';
}

body
{
    background-color: #FFF4EA;
}

.container-app {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


button {
    background-color: #605678;
    border: 2px solid yellow;
    align-self: center;
    border-radius: 8px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}