* {
    font-family: 'Gill Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(fundo3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.container-app {
    color: #605678;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 80px;
    /* Add space between buttons */
    position: absolute;
    top: 700px;
    /* You can adjust this value to position the content in percentage */
    left: 50%;
    transform: translate(-50%, -50%);
}

.content p {

    height: 350px;
    text-align: center;
    max-width: 50%;
    /* Adjust the width percentage */
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    font-size: 24px;
    color: white;
    top: 300px;
    /* Adjust this value to position the content in percentage */
    left: 50%;
    /* Centers horizontally */
    transform: translateX(-50%);
 
}

header {
    padding-left: 3%;
    padding-right: 3%;
}

.nav-pills {
    font-size: 24px;
    justify-content: center;
    align-items: center;
}

/* Custom Nav Pills color */
.nav-pills .nav-link {
    top:10px;
    color: #605678;
    /* Custom color for the nav links */
}

nav {
    top: 20px;
    z-index: 10; /* Ensure it stays on top of other elements */
    padding: 10px; /* Adjust as needed */
}

/* Container principal para os itens */
.container {
    display: flex; /* Utiliza flexbox para alinhar imagem e texto lado a lado */
    align-items: center; /* Alinha verticalmente os itens */
    gap: 20px; /* Espaçamento entre a imagem e o texto */
    padding: 20px;
    margin-top: 50px;
    max-width: 1000px; /* Largura máxima do container */
    width: 100%; /* A largura pode ocupar toda a tela, mas até o limite de max-width */
  
}

/* Estilo para a imagem (quadrado) */
.image-box {
    width: 200px; /* Define o tamanho do quadrado */
    height: 200px;
    overflow: hidden; /* Esconde qualquer parte da imagem que ultrapasse o limite */
}
.about{
    padding: 40px;
}
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem preencha o quadrado sem distorcer */
}

/* Estilo para o texto (retângulo) */
.text-box {
    flex: 1; /* Faz o retângulo preencher o espaço restante */
    padding: 35px;
    background-color: rgba(255, 255, 255, 0.5); /* Cor de fundo para o retângulo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar um efeito de profundidade */
}

.text-box h2 {
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.text-box p {
    font-size: 22px;
    color: #333;
}

/* Responsividade - altera layout em telas pequenas */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Muda a direção para coluna em telas menores */
        gap: 20px;
    }
}