/* Reset de margens e paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 250px;
  background-image: url(houseplants.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top center;
  padding-top: 150px;
  height: 100%;
  /* Reduzido para menos espaço no topo */
}

nav {
  position: sticky;
  top: 20px;
  z-index: 10;
  padding: 10px;
}

/* Estilo para o cabeçalho */
header {
  padding-left: 3%;
  padding-right: 3%;
}

.nav-pills {
  font-size: 24px;
  justify-content: center;
  align-items: center;
}

/* Personalizando as cores dos links da nav */
.nav-pills .nav-link {
  top: 10px;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Estilo para o contêiner dos botões */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
  /* Espaçamento entre os botões */
}

.filter-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid transparent;
  color: #030728;
  cursor: pointer;
  transition: 0.2s ease;
}

.filter-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}

/* Estilo do contêiner de deslize */
.container-swipe {
  width: 100%;
  max-width: 1200px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden; /* Esconde o conteúdo que ultrapassa o contêiner */
  position: relative;
  display: flex;
   align-items: center;
}

/* Estilo para o wrapper dos cards (lista) */
.slider-wrapper {
display: flex;
transition: transform 0.5s ease; /* Adicione a transição aqui */
color: #fff;
margin-top: 0;
overflow: visible;
justify-content: flex-start;
}


/* Estilo das card-items */
.card-list .card-item, .card-item {
  width: 250px; /* Largura reduzida */
  height: 400px; /* Altura reduzida */
  border-radius: 3%;
  margin-bottom: 40px;
  margin-right: 15px; /* Espaçamento entre os cards */
  border: 2px solid #fff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  box-sizing: border-box;
   flex-shrink: 0; /* Evita que os cards encolham */
}

/* Estilo para as imagens de usuário */
.user-image {
  width: 120px; /* Imagem menor */
  height: 120px; /* Imagem menor */
  border-radius: 50%;
  margin-bottom: 15px; /* Espaçamento ajustado */
  border: 3px solid #fff;
  padding: 4px;
}

/* Estilo das informações (nome do serviço, usuário e descrição) */
.service {
  font-size: 24px; /* Fonte menor */
  margin-bottom: 8px; /* Espaçamento ajustado */
}

.user-name {
  font-size: 18px; /* Fonte menor */
  margin-bottom: 8px; /* Espaçamento ajustado */
}

.description {
  font-size: 16px; /* Fonte menor */
  margin-bottom: 15px; /* Espaçamento ajustado */
}

/* Estilo dos botões */
.message-button,
.contact-button {
  width: 48%;
  padding: 8px 0; /* Espaçamento ajustado */
  font-size: 14px; /* Fonte menor */
  text-align: center;
  color: #030728;
  border-radius: 0;
  cursor: pointer;
  background: #fff;
  border: 1px solid transparent;
  transition: 0.2s ease;
  margin: 0; /* Remove margins */
}

/* Efeito hover no botão */
.message-button:hover,
.contact-button:hover {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #fff;
  color: #fff;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  z-index: 1;
    transition: 0.3s ease;
}

.nav-button:hover {
  color: rgba(255, 255, 255, 0.5);

}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

.map-container {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border: 1px solid #ccc;
}
.button-container-card {
display: flex;
width: 100%;
justify-content: space-around;
 margin-top: 10px;
}
.card-container {
display: flex;
flex-direction: column;
width: 25%; /* Take the full width of its parent */
}

.map-card-item {
  width: 250px;
  /* Largura fixa para os cards */
  height: 250px;
  /* Altura fixa para garantir o layout */
  border-radius: 3%;
  margin-bottom: 40px;
  /* Espaço entre os cards */
  border: 2px solid #fff;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* Distribui o conteúdo de forma uniforme */
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  box-sizing: border-box;
  /* Evita que o conteúdo transborde */
}